.footer{
    position: fixed;
    display: flex;
    align-content: space-between;
    bottom: 0;
    height:65px;
    width:96%;
    background-color: #282828;
    padding:20px
}

.footer_left{
    flex:0.3;
    display:flex;
    align-items: center;
    color: white;
    max-width: 300px;
}

.footer_center{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
    max-width: 300px;
    flex:0.7;
}

.footer_right{
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    flex:0.3
}

.footer_albumLogo {
width:60px;
height: 60px;
object-fit: contain;
margin-right: 20px;
}

.footer_green:hover,.footer_icon:hover{
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2) !important;
}

.footer_right *.MuiSlider-root{
    color:green
}

.footer_green{
    color: #1ed15e;
}

.footer_info >p{
font-size:12px;
}

.footer_info >h4{
    margin-bottom: 4px;
}