.songRow{
    margin-left: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    z-index: 100;
    color:white;
}

.songRow:hover{
    background-color:black;
    opacity: 0.8;
    cursor: pointer;
}

.song_RowInfo{
    margin-left:20px
}

.song_RowInfo >h1{
    font-size:16px;
}

.song_RowInfo >p {
    font-size:14px;
    color:grey;
    margin-top:3px;
}

.song_RowAlbum{
    height:40px;
    width:40px;
    object-fit: contain;
}